<%= render "header" %>
<div class='main'>

  <%# 投稿一覧 %>
  <div class='post-contents'>

    <div class="subtitle" >
      新着投稿
    </div>
  
    <ul class='post-lists'>
        <% @posts.each do |post| %>
          <li class='list'>
            <%= link_to (post_path(post.id)), method: :get do %>
              <div class='post-info'>
                
                <h3 class='post-text'>
                  <%= post.user.name %>さんが<%= post.created_at.to_s(:datetime_jp) %>に投稿
                </h3>
                
                <h3 class='post-title'>
                  <%= post.title %>
                </h3>
              </div>
            <% end %>
          </li>
        <% end %>
    </ul>
  </div>
  <%# /投稿一覧 %>
</div>
<% if user_signed_in? %>
  <%= link_to(new_post_path, class: 'purchase-btn') do %>
    <span class='purchase-btn-text'>クリックして</span>
    <%= image_tag 'soudan.jpeg' , size: '185x50' ,class: "purchase-btn-icon" %>
  <% end %>
<% end %>

<%= render "footer" %>