<%= render "header" %>

<%# 投稿の概要 %>


      
<div class="item-show">
  <div class="item-box">

    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">投稿者</th>
          <td class="detail-value"><%= link_to @post.user.name, user_path%></td>
        </tr>
        <tr>
          <th class="detail-item">対象地域</th>
          <td class="detail-value"><%= @post.area.name %></td>
        </tr>
      </tbody>
    </table>

   

    <h2 class="name">
      <%= @post.title %>
    </h2>
    <div class="item-explain-box">
      <span><%= @post.text %></span>
    </div>
    <div class="item-img-content">
      <%= image_tag @post.image, class:"item-box-img" if @post.image.attached? %>
    </div>

    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.name, "/users/#{comment.user_id}" %>:</strong>
          <%= comment.text %>
        </p>
      <% end %>
    </div>

    <div class="container">
    <% if user_signed_in? %>
      <%= form_with(model: [@post, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    </div>

    <% if user_signed_in? && current_user.id == @post.user_id%>
        <%= link_to "投稿内容編集", edit_post_path, method: :get, class: "item-red-btn" %>
        <p class="or-text">or</p>
        <%= link_to "投稿削除", post_path(@post.id), method: :delete, class:"item-destroy" %>
    <% end %>

    
    </table>

  </div>
  <%# /投稿の概要 %>

  
  
</div>

<%= render "footer" %>
